<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
  <table class="uk-table">
    <caption>
      Hike Suggestions
    </caption>
    <thead>
    <th>Location</th>
    <th>Distance</th>
    <th>Description</th>
    <th>Category</th>
    <th> <img width="100"></th>
    <div class="uk-margin">
      <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Delete</button>
    </div>
    </thead>
    <tbody class="uk-text-left">
    {{#each hike}}
      <tr>
        <td>{{location}}</td>
        <td>{{distance}}</td>
        <td>{{description}}</td>
        <td>{{category}}</td>
        <td>{{image}}</td>
        <div class="uk-margin">
          <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Delete</button>
        </div>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>